.address__children {
    margin-left: 3rem;
}

.address__user {
    margin-left: 2rem;
    font-size: 1.1rem;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.address__user:not(:last-child) {
    margin-bottom: 1rem;
}
