@import url('../styles/__colors.css');
@import url('../styles/__reset.css');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

* {
    font-family: 'Merriweather', serif;
}
body {
    font-size: 18px;
    font-family: 'Merriweather', serif;
    background-image: url('../assets/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media (max-width: 640px) {
    body {
        background-image: url('../assets/bg_mob.png');
        font-size: 14px;
    }
}

.modal-active {
    overflow: hidden;
}

/* css transition group */
.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}
